*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --lightColor: #F5F5F5;
    --shadedColor: #E7E7E7;
    --darkModeNav: #292929;
    --darkBody: #5C5C5C;
}

body.dark-mode {
    background-color: var(--darkBody);
    color: white;
}
.dark-mode .nav {
    background-color: var(--darkModeNav);
}
.dark-mode .search-bar {
    background-color: var(--lightColor);
}
.dark-mode .nav-right i {
    color: var(--lightColor);
}

.rotate {
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.nav{
    background: var(--lightColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    height: 4rem;
    font: italic 600 18px/normal 'Inter';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.nav img{
    width: 50px;
}

.nav-left, .nav-middle, .nav-right {
    display: flex;
    align-items: center;
}

.nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 350px;
    padding: 0.5px;
    background-color: var(--shadedColor);
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline: none;
}

.nav-right{
    display: flex;
    justify-content: space-between;
}

.nav-right i{
    margin: 5px;
    cursor: pointer;
}