* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --lightColor: #F5F5F5;
    --shadedColor: #E7E7E7;
    --darkModeNav: #292929;
    --darkBody: #5C5C5C;
}

body.dark-mode {
    background-color: var(--darkBody);
    color: white;
}
.dark-mode .nav {
    background-color: var(--darkModeNav);
}
.dark-mode .search-bar {
    background-color: var(--lightColor);
}
.dark-mode .nav-right i {
    color: var(--lightColor);
}

.rotate {
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav {
    background: var(--lightColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font: italic 600 20px/normal 'Inter';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.nav img {
    width: 60px;
}

.nav-left, .nav-middle, .nav-right {
    display: flex;
    align-items: center;
}

.nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 450px;
    padding: 0.5px;
    background-color: var(--shadedColor);
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline: none;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.nav-right i {
    margin: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    margin: 2% 5%;
    justify-content: space-between;
}
.search-filters {
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--darkModeNav);
    width: 13%;
    display: flex;
    flex-direction: column;
}

.search-filters .top {
    display: flex;
    flex-direction: row;
}

.search-filters .top h4 {
    margin-left: 5px;
    font: normal 600 15px/normal 'Inter';
}

.category , .brand{
    margin: 30px 0;
}

.separator{
	flex-grow: 1;
    height: 1px;
	background-color: var(--darkBody);

}

.main-content {
    width: 85%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sort {
    display: flex;
    align-items: center;
}

.sort h5 {
    margin-right: 10px;
}

.num_page a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.num_page a.active {
    background-color: dodgerblue;
    color: white;
}

.num_page a:hover:not(.active) {
    background-color: #ddd;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.product-item {
    background-color: var(--shadedColor);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.product-item img {
    max-width: 100%;
    height: auto;
}
.product-item h5 {
    margin: 10px 0;
    color: var(--darkBody);
    font: normal 600 12px/normal 'Inter';
}
.product-item p {
    margin: 10px 0;
    font: normal 600 15px/normal 'Inter';
}
.product-item .price {
    font: normal 500 18px/normal 'Inter';
}

.product-item .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 10px;
    right: 10px;
}
.product-item .stars i, .product-item .heart i {
    color: gold;
    font-size: 1rem;
}
.product-item .heart i {
    color: red;
}


.btn-item {
    margin: 5px;
}
.add-cart{
    padding: 10px;
    border-radius: 20px;
    background-color: var(--lightColor);
    font: normal 500 10px/normal 'Inter';
    margin-top: 7px;
}

.buy{
    padding: 10px;
    border-radius: 20px;
    background-color: var(--darkModeNav);
    font: normal 500 10px/normal 'Inter';
    color: var(--lightColor);
    margin-top: 7px;
}

.main-content .page-num{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-content .page-num a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.main-content .page-num a.active {
    background-color: dodgerblue;
    color: white;
}

.main-content .page-num a:hover:not(.active) {
    background-color: #ddd;
}
