*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --lightColor: #F5F5F5;
    --shadedColor: #E7E7E7;
    --darkModeNav: #292929;
    --darkBody: #5C5C5C;
}

body.dark-mode {
    background-color: var(--darkBody);
    color: white;
}
.dark-mode .nav {
    background-color: var(--darkModeNav);
}
.dark-mode .search-bar {
    background-color: var(--lightColor);
}
.dark-mode .nav-right i {
    color: var(--lightColor);
}

.rotate {
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.nav{
    background: var(--lightColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    height: 4rem;
    font: italic 600 18px/normal 'Inter';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.nav img{
    width: 150px;
}

.nav-left, .nav-middle, .nav-right {
    display: flex;
    align-items: center;
}

.nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 450px;
    padding: 0.5px;
    background-color: var(--shadedColor);
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline: none;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.nav-right i{
    margin: 5px;
    cursor: pointer;
}



/*** Homepage ****/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-middle .search-bar {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.homepage-nav-right {
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.homepage-nav-right   .btn-login {
    background-color: var(--shadedColor);
    border-radius: 20px;
    border: none;
    font-weight: 20%;
    width: 100px;
    height: 35px; 
    font-size: 14px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.homepage-nav-right .btn-login:hover {
    background-color: var(--darkBody); 
    color: var(--lightColor);
}

.homepage-nav-right i {
    margin-right: 20px;
    cursor: pointer;
}





.section-container {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}
.search-filters {
    display: flex;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #292929;
    width: 20%;
    flex-direction: column;

}

.search-filters .top{
    display: flex;
    flex-direction: row;
}

.search-filters .top h4{
    margin-left: 5px;
}

.product-list {
    padding: 10px;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --lightColor: #F5F5F5;
    --shadedColor: #E7E7E7;
    --darkModeNav: #292929;
    --darkBody: #5C5C5C;
}

body.dark-mode {
    background-color: var(--darkBody);
    color: white;
}
.dark-mode .nav {
    background-color: var(--darkModeNav);
}
.dark-mode .search-bar {
    background-color: var(--lightColor);
}
.dark-mode .nav-right i {
    color: var(--lightColor);
}

.rotate {
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*** Homepage ****/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-middle .search-bar {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.homepage-nav-right {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.homepage-nav-right   .btn-login {
    background-color: var(--shadedColor);
    border-radius: 20px;
    border: none;
    font-weight: 20%;
    width: 100px;
    height: 35px; 
    font-size: 14px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.homepage-nav-right .btn-login:hover {
    background-color: var(--darkBody); 
    color: var(--lightColor);
}

.homepage-nav-right i {
    margin-right: 20px;
    cursor: pointer;
}








.homepage-content {
    position: relative; 
    width: 100%;
}

.content-left {
    position: relative; 
    width: 100%;
    max-width: 100%; 
}

.content-left img {
    width: 100%; 
    height: auto;
    display: block;
}

.content-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    padding: 20px;
    color: white;
}

.overlay-text {
    max-width: 50%; 
    text-align: right; 
}

.overlay-text h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.overlay-text h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-shop-now {
    background-color: var(--shadedColor); 
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}










.container {
    display: flex;
    margin: 2% 5%;
    justify-content: space-between;
}
.search-filters {
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--darkModeNav);
    width: 13%;
    display: flex;
    flex-direction: column;
}

.search-filters .top {
    display: flex;
    flex-direction: row;
}

.search-filters .top h4 {
    margin-left: 5px;
    font: normal 600 15px/normal 'Inter';
}

.category , .brand{
    margin: 30px 0;
}

.category label, .brand label {
    font: normal 500 14px/normal 'Inter';
}

.category label[for="electronics"] , .brand label[for="electronics"] {
    font: italic 500 13px/normal 'Inter';
}
.separator{
	flex-grow: 1;
    height: 1px;
	background-color: var(--darkBody);

}

.main-content {
    width: 85%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sort {
    display: flex;
    align-items: center;
}

.sort h5 {
    margin-right: 10px;
}

.num_page a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.num_page a.active {
    background-color: dodgerblue;
    color: white;
}

.num_page a:hover:not(.active) {
    background-color: #ddd;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.product-item {
    background-color: var(--shadedColor);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.product-item img {
    max-width: 100%;
    height: auto;
}
.product-item h5 {
    margin: 10px 0;
    color: var(--darkBody);
    font: normal 600 12px/normal 'Inter';
}
.product-item p {
    margin: 10px 0;
    font: normal 600 15px/normal 'Inter';
}
.product-item .price {
    font: normal 500 18px/normal 'Inter';
}

.product-item .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 10px;
    right: 10px;
}
.product-item .stars i, .product-item .heart i {
    color: gold;
    font-size: 1rem;
}
.product-item .heart i {
    color: red;
}


.btn-item {
    margin: 5px;
}
.add-cart{
    padding: 10px;
    border-radius: 20px;
    background-color: var(--lightColor);
    font: normal 500 10px/normal 'Inter';
    margin-top: 7px;
}

.buy{
    padding: 10px;
    border-radius: 20px;
    background-color: var(--darkModeNav);
    font: normal 500 10px/normal 'Inter';
    color: var(--lightColor);
    margin-top: 7px;
}

.main-content .page-num{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-content .page-num a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.main-content .page-num a.active {
    background-color: dodgerblue;
    color: white;
}

.main-content .page-num a:hover:not(.active) {
    background-color: #ddd;
}